<h2 class="npc-name">
  <input class="npc-name-in" type="text" name="name" value="{{actor.name}}" placeholder="Name" />
</h2>
<div class="npc-init">
  {{localize "l5r4.mech.init"}}:
  <input name="data.initiative.roll" type="number" value="{{data.initiative.roll}}" data-type="Number" />
  k
  <input name="data.initiative.keep" type="number" value="{{data.initiative.keep}}" data-type="Number" />
</div>
<div class="npc-attack1">
  <a class="attack1-roll" data-roll="{{data.attack1.roll}}" data-keep="{{data.attack1.keep}}"
    data-desc="{{data.attack1.type}}">
    <img title="{{localize "l5r4.mech.attackRoll"}}" src="icons/dice/d10black.svg" />
  </a>
  {{localize "l5r4.mech.attack"}}:
  <input name="data.attack1.roll" type="number" value="{{data.attack1.roll}}" data-type="Number" />
  k
  <input name="data.attack1.keep" type="number" value="{{data.attack1.keep}}" data-type="Number" />
  <select name="data.attack1.type">
    <option selected disabled>{{localize "l5r4.mech.action"}}</option>
    {{#select data.attack1.type}}
    {{#each config.actionTypes as |name type|}}
    <option value="{{type}}">{{localize name}}</option>
    {{/each}}
    {{/select}}
  </select>
</div>
<div class="npc-damage1">
  <a class="damage1-roll" data-roll="{{data.damage1.roll}}" data-keep="{{data.damage1.keep}}"
    data-desc="{{data.damage1.type}}">
    <img title="{{localize "l5r4.mech.damageRoll"}}" src="icons/dice/d10black.svg" />
  </a>
  {{localize "l5r4.weapon.damage"}}:
  <input name="data.damage1.roll" type="number" value="{{data.damage1.roll}}" data-type="Number" />
  k
  <input name="data.damage1.keep" type="number" value="{{data.damage1.keep}}" data-type="Number" />
  {{localize "l5r4.skill.type"}}:
  <input class="damage-type" name="data.damage1.type" type="text" value="{{data.damage1.type}}" data-type="string" />
</div>
<div class="npc-attack2">
  <a class="attack2-roll" data-roll="{{data.attack2.roll}}" data-keep="{{data.attack2.keep}}"
    data-desc="{{data.attack2.type}}">
    <img title="{{localize "l5r4.mech.attackRoll"}}" src="icons/dice/d10black.svg" />
  </a>
  {{localize "l5r4.mech.attack"}}:
  <input name="data.attack2.roll" type="number" value="{{data.attack2.roll}}" data-type="Number" />
  k
  <input name="data.attack2.keep" type="number" value="{{data.attack2.keep}}" data-type="Number" />
  <select name="data.attack2.type">
    <option selected disabled>{{localize "l5r4.mech.action"}}</option>
    {{#select data.attack2.type}}
    {{#each config.actionTypes as |name type|}}
    <option value="{{type}}">{{localize name}}</option>
    {{/each}}
    {{/select}}
  </select>
</div>
<div class="npc-damage2">
  <a class="damage2-roll" data-roll="{{data.damage2.roll}}" data-keep="{{data.damage2.keep}}"
    data-desc="{{data.damage2.type}}">
    <img title="{{localize "l5r4.mech.damageRoll"}}" src="icons/dice/d10black.svg" />
  </a>
  {{localize "l5r4.weapon.damage"}}:
  <input name="data.damage2.roll" type="number" value="{{data.damage2.roll}}" data-type="Number" />
  k
  <input name="data.damage2.keep" type="number" value="{{data.damage2.keep}}" data-type="Number" />
  {{localize "l5r4.skill.type"}}:
  <input class="damage-type" name="data.damage2.type" type="text" value="{{data.damage2.type}}" data-type="string" />
</div>
<div class="npc-armor-tn">
  {{localize "l5r4.traits.armorTn"}}:
  <input name="data.armor.armor_tn" type="number" value="{{data.armor.armor_tn}}" data-type="Number" />
</div>
<div class="npc-reduction">
  {{localize "l5r4.armor.reduction"}}:
  <input name="data.armor.reduction" type="number" value="{{data.armor.reduction}}" data-type="Number" />
</div>
<div class="npc-suffered">
  {{localize "l5r4.traits.woundsSuffered"}}:
  <input name="data.suffered" type="number" value="{{data.suffered}}" data-type="Number" />
</div>
<div class="npc-max-wounds">
  {{localize "l5r4.traits.wounds"}}:
  <input name="data.wounds.max" type="number" value="{{data.wounds.max}}" data-type="Number" />
</div>