<table class="npc-rings-table">
    <th>
      <a class="simple-roll" data-roll="{{data.rings.air}}" data-keep="{{data.rings.air}}" 
      data-trait="{{localize "l5r4.rings.air"}}" data-type="{{localize "l5r4.mech.ringRoll"}}">
        {{localize "l5r4.rings.air"}}
      </a>
    </th>
    <td><input name="data.rings.air" type="number" value="{{data.rings.air}}" data-type="Number" /></td>
    <th>
      <a class="simple-roll" data-roll="{{data.rings.earth}}" data-keep="{{data.rings.earth}}" 
      data-trait="{{localize "l5r4.rings.earth"}}" data-type="{{localize "l5r4.mech.ringRoll"}}">
        {{localize "l5r4.rings.earth"}}
      </a>
    </th>
    <td><input name="data.rings.earth" type="number" value="{{data.rings.earth}}" data-type="Number" /></td>
    <th>
      <a class="simple-roll" data-roll="{{data.rings.fire}}" data-keep="{{data.rings.fire}}" 
      data-trait="{{localize "l5r4.rings.fire"}}" data-type="{{localize "l5r4.mech.ringRoll"}}">
        {{localize "l5r4.rings.fire"}}
      </a>
    </th>
    <td><input name="data.rings.fire" type="number" value="{{data.rings.fire}}" data-type="Number" /></td>
    <th>
      <a class="simple-roll" data-roll="{{data.rings.water}}" data-keep="{{data.rings.water}}" 
      data-trait="{{localize "l5r4.rings.water"}}" data-type="{{localize "l5r4.mech.ringRoll"}}">
        {{localize "l5r4.rings.water"}}
      </a>
    </th>
    <td><input name="data.rings.water" type="number" value="{{data.rings.water}}" data-type="Number" /></td>
    <tr>
      <td>
        <a class="simple-roll" data-roll="{{data.traits.ref}}" data-keep="{{data.traits.ref}}" 
        data-trait="{{localize "l5r4.traits.ref"}}" data-type="{{localize "l5r4.mech.traitRoll"}}">
          {{localize "l5r4.traits.ref"}}
        </a>
      </td>
      <td><input name="data.traits.ref" type="number" value="{{data.traits.ref}}" data-type="Number" /></td>
      <td>
        <a class="simple-roll" data-roll="{{data.traits.sta}}" data-keep="{{data.traits.sta}}" 
        data-trait="{{localize "l5r4.traits.sta"}}" data-type="{{localize "l5r4.mech.traitRoll"}}">
          {{localize "l5r4.traits.sta"}}
        </a>
      </td>
      <td><input name="data.traits.sta" type="number" value="{{data.traits.sta}}" data-type="Number" /></td>
      <td>
        <a class="simple-roll" data-roll="{{data.traits.agi}}" data-keep="{{data.traits.agi}}" 
        data-trait="{{localize "l5r4.traits.agi"}}" data-type="{{localize "l5r4.mech.traitRoll"}}">
          {{localize "l5r4.traits.agi"}}
        </a>
      </td>
      <td><input name="data.traits.agi" type="number" value="{{data.traits.agi}}" data-type="Number" /></td>
      <td>
        <a class="simple-roll" data-roll="{{data.traits.str}}" data-keep="{{data.traits.str}}" 
        data-trait="{{localize "l5r4.traits.str"}}" data-type="{{localize "l5r4.mech.traitRoll"}}">
          {{localize "l5r4.traits.str"}}
        </a>
      </td>
      <td><input name="data.traits.str" type="number" value="{{data.traits.str}}" data-type="Number" /></td>
    </tr>
    <tr>
      <td>
        <a class="simple-roll" data-roll="{{data.traits.awa}}" data-keep="{{data.traits.awa}}" 
        data-trait="{{localize "l5r4.traits.awa"}}" data-type="{{localize "l5r4.mech.traitRoll"}}">
          {{localize "l5r4.traits.awa"}}
        </a>
      </td>
      <td><input name="data.traits.awa" type="number" value="{{data.traits.awa}}" data-type="Number" /></td>
      <td>
        <a class="simple-roll" data-roll="{{data.traits.wil}}" data-keep="{{data.traits.wil}}" 
        data-trait="{{localize "l5r4.traits.wil"}}" data-type="{{localize "l5r4.mech.traitRoll"}}">
          {{localize "l5r4.traits.wil"}}
        </a>
      </td>
      <td><input name="data.traits.wil" type="number" value="{{data.traits.wil}}" data-type="Number" /></td>
      <td>
        <a class="simple-roll" data-roll="{{data.traits.int}}" data-keep="{{data.traits.int}}" 
        data-trait="{{localize "l5r4.traits.int"}}" data-type="{{localize "l5r4.mech.traitRoll"}}">
          {{localize "l5r4.traits.int"}}
        </a>
      </td>
      <td><input name="data.traits.int" type="number" value="{{data.traits.int}}" data-type="Number" /></td>
      <td>
        <a class="simple-roll" data-roll="{{data.traits.per}}" data-keep="{{data.traits.per}}" 
        data-trait="{{localize "l5r4.traits.per"}}" data-type="{{localize "l5r4.mech.traitRoll"}}">
          {{localize "l5r4.traits.per"}}
        </a>
      </td>
      <td><input name="data.traits.per" type="number" value="{{data.traits.per}}" data-type="Number" /></td>
    </tr>
</table>