<div class="npc-nr-wounds">
  {{localize "l5r4.sheet.nrWoundLvls"}}
  <select name="data.nrWoundLvls">
    {{#select data.nrWoundLvls}}
    {{#each data.wound_lvl}}
    <option value="{{math @index "+" 1}}">{{math @index "+" 1}}</option>
    {{/each}}
    {{/select}}
  </select>
</div>
<div class="npc-wounds-header">
  <div>{{localize "l5r4.traits.total"}}</div>
  <div>{{localize "l5r4.traits.penalty"}}</div>
  <div>{{localize "l5r4.traits.current"}}</div>
</div>
<div class="npc-wound-lvls">
  {{#each data.woundLvlsUsed as |wound_lvl name|}}
  <div class="npc-wound-lvl">
    <input type="number" name="data.wound_lvl.{{name}}.value" value="{{value}}" class="wounds-lvl-value-{{@index}}" />
    <input type="text" name="data.wound_lvl.{{name}}.penalty" value="{{penalty}}"
      class="wounds-lvl-penalty-{{@index}}" />
    <input type="checkbox" disabled name="data.wound_lvl.{{name}}.current" class="wounds-lvl-current-{{@index}}"
      {{checked current}} data-type="Boolean" />
  </div>
  {{/each}}
</div>