<section class="equipment panelBorder">

  <section class="equipment-list">
    <section class="weapons-list">
      <h2>
        {{localize "l5r4.sheet.equipment"}}
      </h2>
      <h3 class="wealth flexrow">
        <div class="wealth wealth-koku">{{localize "l5r4.wealth.koku"}}: <input type="text" name="data.wealth.koku"
            value="{{data.wealth.koku}}" placeholder="{{localize " l5r4.wealth.koku"}}" /></div>
        <div class="wealth wealth-koku">{{localize "l5r4.wealth.bu"}}: <input type="text" name="data.wealth.bu"
            value="{{data.wealth.bu}}" placeholder="{{localize " l5r4.wealth.bu"}}" /></div>
        <div class="wealth wealth-koku">{{localize "l5r4.wealth.zeni"}}: <input type="text" name="data.wealth.zeni"
            value="{{data.wealth.zeni}}" placeholder="{{localize " l5r4.wealth.zeni"}}" /></div>
      </h3>
      <div class="weapons flexrow">
        <h3>{{localize "l5r4.weapon.typeWeapon"}}
          <a class="item-create" data-type="weapon">
            <i class="fas fa-plus"></i>
          </a>
        </h3>
        {{#each weapons as |weapon id|}}
        {{> "modules/alternative-L5R4e-sheet/templates/partials/weapon-card.hbs" weapon ranged=false inSheet=true}}
        {{/each}}
        <h3>{{localize "l5r4.weapon.typeBow"}}
          <a class="item-create" data-type="bow">
            <i class="fas fa-plus"></i>
          </a>
        </h3>
        {{#each bows as |weapon id|}}
        {{> "modules/alternative-L5R4e-sheet/templates/partials/weapon-card.hbs" weapon ranged=true inSheet=true}}
        {{/each}}
        <h3>{{localize "l5r4.armor.name"}}
          <a class="item-create" data-type="armor">
            <i class="fas fa-plus"></i>
          </a>
        </h3>
        {{#each armors as |armor id|}}
        {{> "modules/alternative-L5R4e-sheet/templates/partials/armor-card.hbs" armor inSheet=true}}
        {{/each}}
      </div>
    </section>

  </section>
</section>