<div class="item-border {{data.type}}">
  <div class="skill-card skill" data-item-id="{{_id}}">
    <div class="skill-name">
      {{name}} 
    </div>
    <div class="skill-rank">
      {{data.rank}}
    </div>
    <input disabled class="school-check" data-field="data.school" type="checkbox" {{checked data.school}}
      data-type="Boolean" />
    <div class="skill-emphasis">
      {{data.emphasis}}
    </div>
  </div>
</div>