<div class="item-border {{data.type}}">
  <div class="spell-card item" data-item-id="{{_id}}">
    <div class="spell-info spell-name">
      <h3>
        {{#if inSheet}}
        <a title="{{localize "l5r4.sheet.edit"}}" class="item-edit">{{name}}</a>
        {{else}}
        {{name}}
        {{/if}}
      </h3>
    </div>
    <div class="spell-info spell-stats">
      <div class="spell-ring">
        {{localize "l5r4.spell.ring"}}: {{data.ring}}
      </div>
      <div class="spell-mastery">
        {{localize "l5r4.spell.mastery"}}: {{data.mastery}}
      </div>
      <div class="spell-range">
        {{localize "l5r4.spell.range"}}: {{data.range}}
      </div>
      <div class="spell-aoe">
        {{localize "l5r4.spell.aoe"}}: {{data.aoe}}
      </div>
      <div class="spell-duration">
        {{localize "l5r4.spell.duration"}}: {{data.duration}}
      </div>
      <div class="spell-raises">
        {{localize "l5r4.spell.raises"}}: {{data.raises}}
      </div>
      {{#unless inSheet}}
      <div class="spell-effects">
        {{{data.specialRules}}}
      </div>
      {{/unless}}
    </div>
  </div>
</div>