<div class="item-border expandable {{type}}">
  <div class="technique-card item" data-item-id="{{_id}}">
    <div class="technique-info technique-name">
      <h4>
        <img src="{{img}}">
        {{#if inSheet}}
        <a title="{{localize " l5r4.sheet.edit"}}" class="item-edit">{{name}}</a>
        <a class="item-roll">
          <i class="fas fa-comment" title="send in chat"></i>
        </a>
        <a class="expand">
          <i class="fas fa-arrow-down" title="expand details"></i>
        </a>
        {{else}}
        {{name}}
        {{/if}}
      </h4>
    </div>
    <div class="technique-info technique-stats">
      <div class="flexrow">
        {{#unless data.shugenja}}
        <div class="technique-rank">
          {{localize "l5r4.skill.rank"}}: {{data.rank}}
        </div>
        {{/unless}}
        {{#if data.shugenja}}
        <div class="technique-affiniy">
          {{localize "l5r4.spell.affinity"}}: {{localize (concat "l5r4.rings." data.affinity)}}
        </div>
        <div class="technique-deficiency">
          {{localize "l5r4.spell.deficiency"}}: {{localize (concat "l5r4.rings." data.deficiency)}}
        </div>
        {{/if}}
        {{#unless inSheet}}
        <div class="technique-effects">
          {{{data.specialRules}}}
        </div>
        {{/unless}}
      </div>
      <div class="flexrow">
        <div class="details">
          {{{data.specialRules}}}
        </div>
        <div class="details">
          {{{data.description}}}
        </div>
      </div>

    </div>
  </div>
</div>