<div class="item-border expandable{{data.type}}">
  <div class="weapon-card item" data-item-id="{{_id}}">

    <div class="weapon-info weapon-name">
      {{#if inSheet}}
      <img src="{{img}}">
      <h4 title="{{localize " l5r4.sheet.edit"}}">
        <a class="item-edit">{{name}}</a>
      </h4>
      <div class="buttons">
        <a class="expand">
          <i class="fas fa-arrow-down" title="expand details"></i>
        </a>
        <a class="weapon-roll">
          <img title="{{localize " l5r4.mech.damageRoll"}}" src="icons/dice/d10black.svg" />
        </a>
      </div>

      {{/if}}
      {{#unless inSheet}}
      <h4 title="{{localize " l5r4.sheet.edit"}}">
        {{name}}
      </h4>
      {{/unless}}
    </div>

    <div class="weapon-info weapon-stats">
      <div>
        {{#if ranged}}
        {{localize "l5r4.weapon.str"}}: {{data.str}}
        {{/if}}
        {{#unless ranged}}
        {{localize "l5r4.weapon.damage"}}: {{data.damageRoll}}k{{data.damageKeep}}
        {{/unless}}
      </div>
      <div>
        {{#if ranged}}
        <div>
          {{localize "l5r4.weapon.damage"}}: {{data.damageRoll}}k{{data.damageKeep}}
        </div>
        <select class="arrow-type inline-edit" data-field="data.arrow">
          <option selected disabled>{{localize "l5r4.weapon.arrow"}}</option>
          {{#select data.arrow}}
          {{#each @root.config.arrows as |name type|}}
          <option value="{{type}}">{{localize name}}</option>
          {{/each}}
          {{/select}}
        </select>
        {{/if}}
      </div>
      <div class="spell-effects">
        {{{data.description}}}
      </div>
    </div>

  </div>
</div>